Coefficients/1160/Coefficients-1.0.relaxed.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="TLocalizedDecimal">
    <xs:restriction base="xs:token">
      <xs:pattern value="[+-]?[0-9]+([.,][0-9]+)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TCoefficientsItemValue">
    <xs:annotation>
      <xs:documentation>Значение поправочного коэффициента на определенный вид затрат</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="TLocalizedDecimal"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TCoefficientsItemFormula">
    <xs:annotation>
      <xs:documentation>Описание формулы применения для  расчета изменения затрат или стоимости, в зависимости от атрибута target</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="formula" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>
              формула применения для  расчета изменения затрат или стоимости
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TCoefficientsItem">
    <xs:annotation>
      <xs:documentation>Значение поправочного коэффициента на определенный вид затрат</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Value" minOccurs="1" maxOccurs="1" type="TCoefficientsItemValue">
        <xs:annotation>
          <xs:documentation>Значение коэффициента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Formula" minOccurs="1" maxOccurs="1" type="TCoefficientsItemFormula">
        <xs:annotation>
          <xs:documentation>Формула применения для  расчета изменения затрат или стоимости, в зависимости от атрибута target</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="TApplyCode">
    <xs:annotation>
      <xs:documentation>
        Тип описывающий шифры применения коэффициента
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="code" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Код элемента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Exclude" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>
          За исключенм указанного кода элемента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TSection">
    <xs:annotation>
      <xs:documentation>
Ссылка на сборник, таблицу, раздел
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование коэффициента.
Указывается наименование, величина, а также составляющие единичных расценок, к которым коэффициент применяется</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="Coefficient" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Поправочный коэффициент
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string">
              <xs:annotation>
                <xs:documentation>Описание поправочного коэффициента</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Worker" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на оплату труда рабочих непосредственно занятых в процессе создания материальных ценностей при выполнении строительных работ и работников-исполнителей пусконаладочных работ
(применяется к затратам или стоимости в зависимости от атрибута target)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Machine" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на эксплуатацию строительных машин, автотранспортных средств, механизированных инструментов и механизмов 
(применяется к затратам или стоимости в зависимости от атрибута target)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Machinist" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>Значение коэффициента на оплату труда машинистов
(применяется к затратам или стоимости в зависимости от атрибута target)
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Material" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на материальные ресурсы, изделия и конструкции
                  (применяется к затратам или стоимости в зависимости от атрибута target)
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="LaborCosts" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на затраты труда рабочих непосредственно занятых в процессе создания материальных ценностей при выполнении строительных работ и работников-исполнителей пусконаладочных работ не занятых обслуживанием машин
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="MachinistLaborCosts" minOccurs="0" maxOccurs="1"
              type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на затраты труда машинистов (рабочих, управляющих машинами)
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Equipment" minOccurs="0" maxOccurs="1" type="TCoefficientsItem">
              <xs:annotation>
                <xs:documentation>
                  Значение коэффициента на оборудование, мебель, инвентарь
(применяется к затратам или стоимости в зависимости от атрибута target)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ExcludeGroupItem" minOccurs="0" maxOccurs="unbounded"
              type="xs:integer">
              <xs:annotation>
                <xs:documentation>
                  Код группы для взаимоисключающих поправочных коэффициентов
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Applys" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  Применение данного коэффициента возможно только на указанные коды разделов, расценок или ресурсов
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice maxOccurs="unbounded">
                  
                  <xs:element name="Cost" minOccurs="0" maxOccurs="unbounded" type="TApplyCode">
                    <xs:annotation>
                      <xs:documentation>
                        Перечесление кодов расценок, на которые возможно применение коэффициента
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  
                  <xs:element name="Section" minOccurs="0" maxOccurs="unbounded" type="TApplyCode">
                    <xs:annotation>
                      <xs:documentation>
                        Перечесление кодов разделов, на которые возможно применение коэффициента
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  
                  <xs:element name="Resources" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>
                        Перечесление кодов ресурсов, на которые возможно применение коэффициента
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Resource" minOccurs="1" maxOccurs="unbounded" type="TApplyCode">
                          <xs:annotation>
                            <xs:documentation>
                              Перечесление кодов ресурсов, на которые возможно применение коэффициента
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      
                      <xs:attribute name="Worker" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты труда рабочих непосредственно занятых в процессе создания материальных ценностей
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="Machine" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты на эксплуатацию строительных машин
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="Machinist" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Оплата труда машинистов
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="Material" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты на материальные ресурсы, изделия и конструкции
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="LaborCosts" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты труда рабочих (чел.-ч)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="MachinistLaborCosts" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты труда машинистов (чел.-ч)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                      <xs:attribute name="Equipment" use="optional" type="TLocalizedDecimal">
                        <xs:annotation>
                          <xs:documentation>
                            Затраты на оборудование, мебель, инвентарь
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      
                    </xs:complexType>
                  </xs:element>
                  
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="code" use="required" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Код поправочного коэффициента
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="target" use="required">
            <xs:annotation>
              <xs:documentation>К чему применяются</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Стоимость"/>
                <xs:enumeration value="Расход"/>
                <xs:enumeration value="Доплата"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="decreeuse" use="optional" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Номер и дата приказа ввода в действие поправочного коэффициента
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="startuse" use="optional" type="xs:date">
            <xs:annotation>
              <xs:documentation>
                Дата ввода в действие поправочного коэффициента
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="enduse" use="optional" type="xs:date">
            <xs:annotation>
              <xs:documentation>
                Дата окончания действия поправочного коэффициента
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Section" minOccurs="0" maxOccurs="unbounded" type="TSection">
        <xs:annotation>
          <xs:documentation>
            Каждый раздел может содержать в себе не только сами поправочные коэффициенты, но так же и другие разделы
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="code" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          Код раздела
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="Coefficients">
    <xs:annotation>
      <xs:documentation>

      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Section" minOccurs="1" maxOccurs="unbounded" type="TSection">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
