CostsSummary/Archive/CostsSummary-3_01.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.01"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" vc:minVersion="1.1"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
  <xs:simpleType name="TAccessLevel">
    <xs:annotation>
      <xs:documentation><text>Классификация информации по грифу ограничения доступа.</text></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="общедоступная информация"/>
      <xs:enumeration value="для служебного пользования"/>
      <xs:enumeration value="коммерческая тайна"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TFileFormat">
    <xs:annotation>
      <xs:documentation>Комплексный тип для описания типа и версии передаваемого файла.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type">
        <xs:annotation>
          <xs:documentation>Тип передаваемого файла: СЗ - Сводка затрат.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="СЗ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Version" default="3.01">
        <xs:annotation>
          <xs:documentation>Номер версии схемы.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TMeta">
    <xs:annotation>
      <xs:documentation>Информация о программном комплексе и версии формата.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Soft">
        <xs:annotation>
          <xs:documentation>Программный комплекс.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string">
              <xs:annotation>
                <xs:documentation>Наименование программного комплекса.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Version" type="xs:string">
              <xs:annotation>
                <xs:documentation>Версия программного комплекса.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="File" type="TFileFormat">
        <xs:annotation>
          <xs:documentation>Тип и версия передаваемого файла.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TSignature">
    <xs:annotation>
      <xs:documentation>Подписи (ФИО).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation>ФИО.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TDptSignature">
    <xs:annotation>
      <xs:documentation>Подпись (Начальник).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TSignature">
        <xs:sequence>
          <xs:element name="Department">
            <xs:annotation>
              <xs:documentation>Наименование отдела.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TExtSignature">
    <xs:annotation>
      <xs:documentation>Подпись (Заказчик).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TSignature">
        <xs:sequence>
          <xs:element name="Position">
            <xs:annotation>
              <xs:documentation>Должность.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TPriceLevel">
    <xs:annotation>
      <xs:documentation>Составляющие элементы уровня цен.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Year" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Год.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedShort">
            <xs:minInclusive value="1964"/>
            <xs:maxInclusive value="2100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Month" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Месяц.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element minOccurs="0" name="Day" type="xs:unsignedByte">
        <xs:annotation>
          <xs:documentation>День.</xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="Quarter" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Квартал.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="BasicPrice" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Признак уровня цен. True - Базисный уровень.</xs:documentation>
        </xs:annotation>
      </xs:element>




      <xs:element name="Note" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TPriceEstimate">
    <xs:annotation>
      <xs:documentation>Сметная стоимость.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Production" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сметная стоимость объектов производственного назначения. Округление до 2-х знаков после запятой в тысячах рублей. Округление производится один раз после всех математических операций.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotProduction" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сметная стоимость объектов непроизводственного назначения. Округление до 2-х знаков после запятой в тысячах рублей. Округление производится один раз после всех математических операций.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Total" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Сметная стоимость всего. Округление до 2-х знаков после запятой в тысячах рублей. Округление производится один раз после всех математических операций.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="TPriceValues">
    <xs:annotation>
      <xs:documentation>Итоговые стоимостные показатели локальных сметных расчетов (смет).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Direct" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговые прямые затраты по локальному сметному расчету.</text>
<formula>Для БИМ:
В базисном уровне цен (при применении "индексов к элементам ПЗ" и "индекса к СМР"):
Direct.Price (Итоговые прямые затраты по локальному сметному расчету в базисном уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в базисном уровне цен) + Machines.Price(Итоговая стоимость эксплуатации машин и механизмов по ЛСР в базисном уровне цен) + Materials.Price (Итоговая стоимость материалов по ЛСР в базисном уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в базисном уровне цен).
В текущем уровне цен (при применении "индексов к элементам ПЗ"):
Direct.Price (Итоговые прямые затраты по локальному сметному расчету в текущем уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в текущем уровне цен) + Machines.Price(Итоговая стоимость эксплуатации машин и механизмов по ЛСР в текущем уровне цен) + Materials.Price (Итоговая стоимость материалов по ЛСР в текущем уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в текущем уровне цен).
Для РИМ:
В текущем уровне цен:
Direct.Price (Итоговые прямые затраты по локальному сметному расчету в текущем уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в текущем уровне цен) + Machines.Price (Итоговая стоимость эксплуатации машин и механизмов по ЛСР в текущем уровне цен) + MachinistSalary.Price (Итоговая оплата труда машинистов (рабочих, занятых управлением и обслуживанием строительных машин и механизмов) по локальному сметному расчету (смете)) + Materials.Price (Итоговая стоимость материалов по ЛСР в текущем уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в текущем уровне цен).</formula>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkerSalary" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая оплата труда рабочих и работников-исполнителей в составе заданного вида работ по локальному сметному расчету (смете).</text>
<formula>Для базисного уровня цен (при применении "индексов к элементам ПЗ" и "индекса к СМР"): WorkersSalary.Price (Итоговая оплата труда по ЛСР в базисном уровне цен).
Для текущего уровня цен (при применении "индексов к элементам ПЗ"): WorkersSalary.Price (Итоговая оплата труда по ЛСР в текущем уровне цен).</formula>
<links>Методика определения сметных цен на затраты труда работников в строительстве, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 1 июля 2022 г. № 534/пр; Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Machines" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая сметная стоимость эксплуатации строительных машин, автотранспортных средств, механизированных инструментов и механизмов по локальному сметному расчету (смете).</text>
<formula>Для базисного уровня цен (при применении "индексов к элементам ПЗ" и "индекса к СМР"): Machines.Price (Итоговая сметная стоимость эксплуатации строительных машин и механизмов по ЛСР в базисном уровне цен).
Для текущего уровня цен (при применении "индексов к элементам ПЗ"): Machines.Price (Итоговая сметная стоимость эксплуатации строительных машин и механизмов по ЛСР в текущем уровне цен).</formula>
                        <links>Методика определения сметных цен на эксплуатацию машин и механизмов, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 13 декабря 2021 г. № 916/пр (с изменениями от 6 октября 2023 г. № 726/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachinistSalary" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая оплата труда машинистов (рабочих, занятых управлением и обслуживанием строительных машин и механизмов) по локальному сметному расчету (смете) заданного вида работ.</text>
<formula>Для базисного уровня цен (при применении "индексов к элементам ПЗ" и "индекса к СМР"): MachinistSalary.Price (Итоговая оплата труда машинистов по ЛСР в базисном уровне цен).
Для текущего уровня цен (при применении "индексов к элементам ПЗ"): MachinistSalary.Price (Итоговая оплата труда машинистов по ЛСР в текущем уровне цен).</formula>
<links> Методика определения сметных цен на затраты труда работников в строительстве, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 1 июля 2022 г. № 534/пр; Методика определения сметных цен на эксплуатацию машин и механизмов, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 13 декабря 2021 г. № 916/пр (с изменениями от 6 октября 2023 г. № 726/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Materials" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая сметная стоимость материалов, изделий и конструкции по локальному сметному расчету (смете), в том числе стоимость материалов, отсутствующих в ФРСН.</text>
<formula>Для базисного уровня цен (при применении "индекса к СМР" и "индексов к элементам ПЗ"): Materials.Price (Итоговая сметная стоимость материалов по ЛСР в базисном уровне цен).
Для текущего уровня цен (при применении "индексов к элементам ПЗ"): Materials.Price (Итоговая сметная стоимость материалов по ЛСР в текущем уровне цен).</formula>
<links>Методические рекомендации по определению сметных цен на материалы, изделия, конструкции, оборудование и цен услуг на перевозку грузов для строительства, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 сентября 2019 г. № 517/пр; Методика определения сметных цен на материалы, изделия, конструкции и оборудование, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 26 октября 2022 г. № 904/пр (с изменениями от 16 октября 2023 г. № 743/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transport" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая сметная стоимость перевозки грузов.</text>
<links>Методические рекомендации по определению сметных цен на материалы, изделия, конструкции, оборудование и цен услуг на перевозку грузов для строительства, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 сентября 2019 г. № 517/пр; Методика определения сметных цен на материалы, изделия, конструкции и оборудование, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 26 октября 2022 г. № 904/пр (с изменениями от 16 октября 2023 г. № 743/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Equipment" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Общие итоги по локальному сметному расчету (смете) по оборудованию с указанием стоимости дополнительной перевозки. В текущем или базисном уровнях цен.</text>
<formula>Для базисного уровня - итоги по ЛСР в базисном уровне цен: стоимость оборудования и дополнительной перевозки.
Для текущего уровня -  итоги по ЛСР в текущем уровне цен: стоимость оборудования и дополнительной перевозки.</formula>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Salary" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Фонд оплаты труда (ФОТ) по локальному сметному расчету (смете) для заданного вида работ. ФОТ является справочной дополнительной информацией в составе сметной стоимости.</text>
<formula>Для базисного уровня цен при применении "индекса к СМР" и "индексов к элементам прямых затрат": Salary.Price (ФОТ по ЛСР в базисном уровне) = WorkersSalary.Price (Оплата труда по ЛСР в базисном уровне цен) + MachinistSalary.PriceBase (Оплата труда машинистов по ЛСР  в базисном уровне цен).
Для текущего уровня цен при применении "индексов к элементам прямых затрат": Salary.Price (ФОТ по ЛСР в текущем уровне) = WorkersSalary.Price (Оплата труда по ЛСР в текущем уровне цен) + MachinistSalary.Price (Оплата труда машинистов по ЛСР  в текущем уровне цен).</formula>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links>

</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Overhead" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговые накладные расходы по локальному сметному расчету (смете) в составе сметной стоимости, в базисном или текущем уровнях цен.</text>
<formula>Для базисного уровня цен при применении "индекса СМР" и "индексов к элементам ПЗ": Overhead.Price (Итоговые накладные расходы по ЛСР в базисном уровне цен).
Для текущего уровня цен при применении "индексов к элементам ПЗ": Overhead.Price (Итоговые накладные расходы по ЛСР в текущем уровне цен).</formula>
<links>Методика по разработке и применению нормативов накладных расходов при определении сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 21 декабря 2020 г. № 812/пр (с изменениями от 2 сентября 2021 г. № 636/пр, от 26 июля 2022 г. № 611/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Profit" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая сметная прибыль по локальному сметному расчету (смете) в составе сметной стоимости, в базисном или текущем уровнях цен.</text>
<formula>Для базисного уровня цен при применении "индекса СМР" и "индексов к элементам ПЗ": Profit.Price (Итоговая сметная прибыль по ЛСР в базисном уровне цен).
Для текущего уровня цен при применении "индексов к элементам ПЗ": Profit.Price (Итоговая сметная прибыль по ЛСР в текущем уровне цен).</formula>
<links>Методика по разработке и применению нормативов сметной прибыли при определении сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 11 декабря 2020 г. № 774/пр (с изменениями от  22 апреля 2022 г. № 317/пр); Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links>
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Total" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговая сметная стоимость по локальному сметному расчету (смете) в текущем или базисном уровнях цен. Включает: стоимость элементов прямых затрат, накладные расходы, сметная прибыль, затраты на перевозку.</text>
<formula>Для БИМ:
Для базисного уровня цен (при применении "индексов к элементам ПЗ" и "индекса к СМР"): Total.Price (Итоговая сметная стоимость вида работ по ЛСР в базисном уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в базисном уровне цен) + Machines.Price (Итоговая стоимость эксплуатации машин и механизмов по ЛСР в базисном уровне цен) + Materials.Price (Итоговая стоимость материалов по ЛСР в базисном уровне цен) + Equipment.Price (Итоговая стоимость оборудования по ЛСР в базисном уровне цен) + Overhead.Price (Итоговые накладные расходы по ЛСР в базисном уровне цен) + Profit.Price (Итоговая сметная прибыль по ЛСР в базисном уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в базисном уровне цен).
Для текущего уровня цен (при применении "индексов к элементам ПЗ"): Total.PriceCur (Итоговая сметная стоимость по ЛСР в текущем уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в текущем уровне цен) + Machines.Price(Итоговая стоимость эксплуатации машин и механизмов по ЛСР в текущем уровне цен) + Materials.Price (Итоговая стоимость материалов по ЛСР в текущем уровне цен) + Equipment.Price (Итоговая стоимость оборудования по ЛСР в текущем уровне цен) + Overhead.Price (Итоговые накладные расходы по ЛСР в текущем уровне цен) + Profit.Price (Итоговая сметная прибыль по ЛСР в текущем уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в текущем уровне цен).
Для РИМ:
В текущем уровне цен:
Total.PriceCur (Итоговая сметная стоимость по ЛСР в текущем уровне цен) = WorkersSalary.Price (Итоговая оплата труда по ЛСР в текущем уровне цен) + Machines.Price (Итоговая стоимость эксплуатации машин и механизмов по ЛСР в текущем уровне цен) + MachinistSalary.Price (Итоговая оплата труда машинистов (рабочих, занятых управлением и обслуживанием строительных машин и механизмов) по локальному сметному расчету (смете)) + Materials.Price (Итоговая стоимость материалов по ЛСР в текущем уровне цен) + Equipment.Price (Итоговая стоимость оборудования по ЛСР в текущем уровне цен) + Overhead.Price (Итоговые накладные расходы по ЛСР в текущем уровне цен) + Profit.Price (Итоговая сметная прибыль по ЛСР в текущем уровне цен) + Transport.Price (Сметная стоимость перевозки грузов по ЛСР в текущем уровне цен).</formula>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LaborCosts" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговые затраты труда рабочих по локальному сметному расчету (смете) и работников-исполнителей пусконаладочных работ не занятых обслуживанием машин.</text>
<formula>LaborCosts (Итоговые затраты труда рабочих или пусконаладочного персонала  ЛСР).</formula>
<links>Методика определения сметных цен на затраты труда работников в строительстве, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 1 июля 2022 г. № 534/пр; Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachinistLaborCosts" type="xs:decimal" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Итоговые затраты труда машинистов (рабочих, управляющих машинами) по локальному сметному расчету (смете).</text>
<formula>MachinistLaborCosts (Итоговые затраты труда машинистов по ЛСР).</formula>
<links>Методика определения сметных цен на затраты труда работников в строительстве, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 1 июля 2022 г. № 534/пр; Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TPriceRow">
    <xs:annotation>
      <xs:documentation>Cтоимостные показатели локального сметного расчета (сметы).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TPriceValues">
        <xs:sequence>
          <xs:element name="Num" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>Номер позиции.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="xs:string">
            <xs:annotation>
              <xs:documentation>Обоснование позиции.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Наименование позиции.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Link" type="xs:string">
            <xs:annotation>
              <xs:documentation>Ссылка на файл локального сметного расчета. Поле должно содержать только имя файла без определения пути к файлу.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Construction">
    <xs:annotation>
      <xs:documentation>Объекты капитального строительства (реконструкции, капитального ремонта) (Стройка). Элемент обязан содержать атрибуты, указывающие на применяемый xsd-шаблон описания сметы:
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance";
xsi:noNamespaceSchemaLocation = "CostsSummary-3_01.xsd".
Электронные документы, представляемые для проведения государственной экспертизы проектной документации и (или) результатов инженерных изысканий и проверки достоверности определения сметной стоимости строительства, реконструкции, капитального ремонта, должны  иметь расширение файла .gge.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Meta" type="TMeta">
          <xs:annotation>
            <xs:documentation>Информация о программном комплексе и версии формата.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="AccessLevel" type="TAccessLevel">
          <xs:annotation>
            <xs:documentation>Информация о уровне доступа. Возможные варианты заполнения - "общедоступная информация", "для служебного пользования" или "коммерческая тайна".</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Customer" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Заказчик (наименование организации).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Approved" type="xs:date" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Дата утверждения документа.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Summary" type="xs:decimal" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Общая стоимость сводки затрат. Округление до 2-х знаков после запятой в тысячах рублей.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ApprovedDoc" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Ссылка на документ об утверждении.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ApprovedDate" type="xs:date" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Дата документа об утверждении.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="1" name="ConstructionSite" type="xs:string">
          <xs:annotation>
            <xs:documentation>Наименование стройки.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ObjectName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Наименование объекта строительства.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PriceLevel" type="TPriceLevel" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Текущий или базисный уровень цен.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Signatures">
          <xs:annotation>
            <xs:documentation>Подписи.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProjectOrg" type="TSignature" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Руководитель проектной организации (ФИО).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ChiefProjectEngineer" type="TSignature" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Главный инженер проекта (ФИО).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Chief" minOccurs="1" type="TDptSignature">
                <xs:annotation>
                  <xs:documentation>Начальник отдела (ФИО), наименование отдела.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Customer" type="TExtSignature" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Подпись заказчика (должность, ФИО).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="ComposeFIO" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Cоставил (ФИО) (Подпись исполнителя).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="VerifyFIO" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Проверил (ФИО) (Подпись представителя заказчика).</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Costs" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation><text>Сводка затрат Таблица №1.</text>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Estimate" type="TPriceEstimate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Сметная стоимость.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Building" type="TPriceEstimate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Сметная стоимость строительных и монтажных работ.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Equipment" type="TPriceEstimate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Сметная стоимость оборудования.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Other" type="TPriceEstimate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Сметная стоимость прочих работ и затрат.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="EstimateTotal" type="TPriceEstimate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>Сметная стоимость всего с НДС.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PercentVAT" type="xs:decimal" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Ставка НДС (%).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="EstimateTotalVAT" type="TPriceEstimate" minOccurs="1"
                maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>В том числе НДС в составе всего сметной стоимости (руб.).</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Table" minOccurs="0">
          <xs:annotation>
            <xs:documentation><text>Сводка затрат Таблица №2.</text>
<links>Методика определения сметной стоимости строительства, реконструкции, капитального ремонта, сноса объектов капитального строительства, работ по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации на территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 4 августа 2020 г. № 421/пр (с изменениями от 7 июля 2022 г. № 557/пр, от 30 января 2024 г. № 55/пр); Методика определения сметной стоимости строительства или реконструкции объектов капитального строительства, расположенных за пределами территории Российской Федерации, утвержденная приказом Министерства строительства и жилищно-коммунального хозяйства Российской Федерации от 15 июня 2020 г. № 317/пр (с изменениями от 25 августа 2022 г. № 698/пр, от 22 декабря 2023 г. № 968/пр).</links></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="LocalEstimate" type="TPriceRow">
                <xs:annotation>
                  <xs:documentation>Итоговые стоимостные показатели локального сметного расчета (локальной сметы).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Totals" type="TPriceValues">
                <xs:annotation>
                  <xs:documentation>Итоговые значения.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExportDateTime" type="xs:dateTime" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Дата и время выгрузки документа из программного продукта (сметной программы) с учетом часового пояса в формате ISO 8601 (ГГГГ-ММ-ДД ЧЧ:ММ:СС+03:00).</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
