ComparativeQuantityTakeoff/MINSTROY_VERSION/types/CommonTypes.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:ct="http://types/CommonTypes.xsd" targetNamespace="http://types/CommonTypes.xsd"
  attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.23">

  <xs:import namespace="http://types/BaseTypes.xsd" schemaLocation="BaseTypes.xsd"/>

  <xs:simpleType name="alterationIdRefType">
    <xs:restriction base="xs:IDREF"/>
  </xs:simpleType>

  <xs:simpleType name="alterationIdType">
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>


  <xs:complexType name="fileFormatType">
    <xs:annotation>
      <xs:documentation>Комплексный тип для описания типа и версии передаваемого файла
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileType">
        <xs:annotation>
          <xs:documentation>Тип передаваемого файла: СВОР - Сопоставительная ведомость объемов работ
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>
              <text>Описание элемента схемы.</text>
            </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Сводная ведомость объемов работ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="schemaVersion" default="1.0">
        <xs:annotation>
          <xs:documentation>Номер версии схемы</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>
              <text>Описание элемента схемы.</text>
            </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="alterationStageType">
    <xs:annotation>
      <xs:documentation>Комплексный тип для корректировки при заходе на экспертизу
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="xs:gYear">
        <xs:annotation>
          <xs:documentation>Год корректировки
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="xs:gMonth">
        <xs:annotation>
          <xs:documentation>Месяц корректировки
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="ct:alterationIdType" use="required">
      <xs:annotation>
        <xs:documentation>Уникальный идентификатор корректировки
В наборе стадий должна присутствовать базовая запись с id="base"; остальные id — хронологические стадии.
id строятся по следующему принципу: "alt-ГГГГ-ММ"
Где ГГГГ это год корректировки, а ММ - месяц корректировки
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="metaType">
    <xs:annotation>
      <xs:documentation>Информация о программном комплексе и версии формата
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="software">
        <xs:annotation>
          <xs:documentation>Программный комплекс
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <text>Описание программного комплекса.</text>
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="softwareName" type="xs:string">
              <xs:annotation>
                <xs:documentation>Наименование программного комплекса
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="softwareVersion" type="xs:string">
              <xs:annotation>
                <xs:documentation>Версия программного комплекса
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="file" type="ct:fileFormatType">
        <xs:annotation>
          <xs:documentation>Тип и версия передаваемого файла
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="estimateCqtType">
    <xs:annotation>
      <xs:documentation>
        <text>Описание комплексного типа TEstimate.</text>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="estimateName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование локального сметного расчета</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="sectionList">
        <xs:annotation>
          <xs:documentation>Разделы локального сметного расчета</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="section" type="ct:sectionType" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Раздел локального сметного расчета</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="estimateNumber" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Номер локального сметного расчета</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="sectionType">
    <xs:annotation>
      <xs:documentation>Комплексный тип для разделов/подразделов локального сметного расчета
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sectionName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование раздела</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemList" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Строки раздела локального сметного расчета (позиции и свободные строки)</xs:documentation>
          <xs:documentation>Только для уровня раздела: допускаются item и freeStringItem через substitutionGroup itemRow. Свободные строки служат визуальными вставками между позициями.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ct:itemRow" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Строка раздела: позиция сметы или свободная строка</xs:documentation>
                <xs:documentation>Порядок строк произвольный; свободные строки могут стоять в начале и между позициями.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sectionList" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="section" type="ct:sectionType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Подраздел сметы</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="sectionNumber" type="bt:sectionNumberType" use="required">
      <xs:annotation>
        <xs:documentation>Номер раздела</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:element name="itemRow" abstract="true">
    <xs:annotation>
      <xs:documentation>Базовый элемент строки раздела: позиция сметы или свободная строка</xs:documentation>
      <xs:documentation>Используется как голова substitutionGroup для строк первого уровня: допускает подстановки item (позиция) и freeStringItem (свободная строка).</xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:element name="item" type="ct:itemLevel1Type" substitutionGroup="ct:itemRow">
    <xs:annotation>
      <xs:documentation>Позиция локального сметного расчета первого уровня</xs:documentation>
      <xs:documentation>Доступна в itemList раздела через substitutionGroup itemRow. Требует заполнения обязательных полей и участвует в расчётах/нумерации.</xs:documentation>
    </xs:annotation>
  </xs:element>


  <xs:complexType name="freeStringItemType">
    <xs:annotation>
      <xs:documentation>Свободная строка раздела локального сметного расчета</xs:documentation>
      <xs:documentation>Используется как визуальный разделитель между позициями первого уровня; не участвует в расчётах и нумерации.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeStringName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование свободной строки</xs:documentation>
          <xs:documentation>Текст выводится отдельной строкой таблицы (colspan на весь раздел).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:element name="freeStringItem" type="ct:freeStringItemType" substitutionGroup="ct:itemRow">
    <xs:annotation>
      <xs:documentation>Свободная строка раздела локального сметного расчета</xs:documentation>
      <xs:documentation>Разрешена только в itemList раздела (первый уровень) через substitutionGroup itemRow.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="itemLevel3Type">
    <xs:annotation>
      <xs:documentation>Комплексный тип для позиции третьего уровня</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ct:itemBaseType"/>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="itemLevel2Type">
    <xs:annotation>
      <xs:documentation>Комплексный тип для позиции второго уровня</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ct:itemBaseType">
        <xs:sequence>
          <xs:element name="itemList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Позиции локального сметного расчета третьего уровня</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="item" type="ct:itemLevel3Type" minOccurs="0" maxOccurs="unbounded"
                  block="substitution">
                  <xs:annotation>
                    <xs:documentation>Позиция локального сметного расчета третьего уровня вложенности. Например, дополнительная перевозка к ресурсу, который добавлен к работе</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="documentLinkType">
    <xs:annotation>
      <xs:documentation>Описание связи позиции с обосновывающими документами.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileInternalId" type="bt:fileInternalIdType" minOccurs="1">
        <xs:annotation>
          <xs:documentation><text>Уникальный идентификатор файла.</text> </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:sequence>
          <xs:element name="pageNumbers" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Номера страниц обосновывающего документа, разделенных пробелом.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:list itemType="xs:positiveInteger"/>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="pageDescription" type="xs:string">
            <xs:annotation>
              <xs:documentation>Текст ссылки на элементы проекта (модели), название элементов (графа 6).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:choice>


          <xs:sequence>
            <xs:element name="ifcGuids">
              <xs:annotation>
                <xs:documentation>Список уникальных ifc идентификаторов элементов в файле, разделенных пробелом. Заполняется, если файл на проверку пришёл в формате ifc. Ссылки на объекты делаются через ifc гуиды.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:list itemType="bt:ifcGuidIdType"/>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="ifcDescription" type="xs:string">
              <xs:annotation>
                <xs:documentation>Текст ссылки на элементы проекта (модели), название элементов (графа 6).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:sequence maxOccurs="1">
            <xs:sequence>
              <xs:element name="propertyName" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Название свойства элемента в ifc файле. Заполняется если файл на проверку пришёл в формате ifc и ссылки на объект делаются через свойства ifc объектов.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" name="propertyDescription" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Текст ссылки на элементы проекта (модели), название элементов (графа 6).</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element name="propertyValue" type="xs:string">
              <xs:annotation>
                <xs:documentation>Значение свойства propertyName элемента в ifc файле. Заполняется если файл на проверку пришёл в формате ifc и ссылки на объект делаются через свойства ifc объектов.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:choice>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="itemBaseType" abstract="true">
    <xs:annotation>
      <xs:documentation>Базовый комплексный тип для позиции сопоставительной ведомости объемов работ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="work">
        <xs:annotation>
          <xs:documentation>Описание позиции сводной ведомости объемов работ.
            Задается шифр позиции с префиксом, ее наименование и единица измерения
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="workName" type="xs:string">
              <xs:annotation>
                <xs:documentation>Наименование позиции локального сметного расчета
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="measurementUnit" type="xs:string">
              <xs:annotation>
                <xs:documentation>Единица измерения локального сметного расчета
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="normCodePrefix" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Префикс шифра сметной нормы или единичной расценки локального сметного расчета
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="normCode" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Шифр сметной нормы или единичной расценки в локальном сметном расчете
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="volumeList">
        <xs:annotation>
          <xs:documentation>Объемы работ по корректировкам. 
            Задается объем позиции, указывается увеличение или снижение по конкретной корректировке, а так же обоснование изменений</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="volume" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Объем работ по стадиям (заходам на экспертизу). Задается объем позиции, указывается увеличение или снижение по конкретной корректировке, а так же обоснование изменений</xs:documentation>
              </xs:annotation>
              <xs:complexType>
          <xs:sequence>
            <xs:element name="volumeQuantity" type="xs:decimal">
              <xs:annotation>
                <xs:documentation>Объем работ по позиции</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="volumeIncrease" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Одно увеличение объема в рамках корректировки относительно предыдущей стадии или базы.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="amount" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation>Величина увеличения.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="decreaseList" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Снижения объема в рамках корректировки. По одному снижению на каждую предыдущую стадию, относительно которой задана дельта.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="decrease" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation>Одно снижение объема относительно конкретной корректировки (fromRef).</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="amount" type="xs:decimal">
                          <xs:annotation>
                            <xs:documentation>Величина снижения.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="fromRef" type="ct:alterationIdRefType" use="required">
                        <xs:annotation>
                          <xs:documentation>Ссылка на стадию, относительно которой задано снижение (например, base или id предыдущей корректировки).</xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="reason" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Обоснование корректировки объема (увеличения/снижения) по стадии.</xs:documentation>
              </xs:annotation>
            </xs:element>
                </xs:sequence>



                <xs:attribute name="alterationRef" type="ct:alterationIdRefType" use="required">
                  <xs:annotation>
                    <xs:documentation>Ссылка на уникальный идентификатор корректировки.
                      В наборе стадий должна присутствовать базовая запись с id="base"; остальные id — хронологические стадии.
                      id строятся по следующему принципу: "alt-ГГГГ-ММ"
                      Где ГГГГ это год корректировки, а ММ - месяц корректировки</xs:documentation>
                  </xs:annotation>
                </xs:attribute>


              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueAlterationPerItem">
          <xs:selector xpath="volume"/>
          <xs:field xpath="@alterationRef"/>
        </xs:unique>
      </xs:element>

      <xs:element name="documentationList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Файлы обоснований, которые передаются на экспертизу и на которые будут ссылки из данного документа</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="documentReference" type="ct:documentReferenceType"
              maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <text>
                    Ссылка на один документ (пояснительная записка, протокол, расчёт и т.п.).
                    Каждый элемент может быть привязан к отдельной стадии корректировки
                    через атрибут alterationRef.
                  </text>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>



    </xs:sequence>
    <xs:attribute name="itemPositionId" type="bt:itemPositionIdType" use="required">
      <xs:annotation>
        <xs:documentation>Номер позиции. Задается как целым числом</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="itemLevel1Type">
    <xs:annotation>
      <xs:documentation>Комплексный тип для позиции первого уровня</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ct:itemBaseType">
        <xs:sequence>
          <xs:element name="itemList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Позиции локальной сметы второго уровня</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="item" type="ct:itemLevel2Type" minOccurs="0" maxOccurs="unbounded"
                  block="substitution">
                  <xs:annotation>
                    <xs:documentation>Позиция локального сметного расчета. Второй уровень вложенности</xs:documentation>
                    <xs:documentation>Подстановки отключены (block="substitution"), свободные строки на этом уровне недопустимы.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>




  <xs:complexType name="documentReferenceType">
    <xs:annotation>
      <xs:documentation>
        <text>
          Комплексный тип TDocumentationRef.
          
          Описывает ссылку на документ, связанную с объектом сметы
          (пояснительная записка, протокол, расчёт и т.п.).
          Наследует структуру базового типа TLink и дополняет её
          атрибутом, указывающим стадию корректировки.
        </text>
      </xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="ct:documentLinkType">
        <xs:annotation>
          <xs:documentation>Ссылки на чертежи, спецификации в проектной документации (файлы со справочными материалами, чертежами или ЦИМ
          </xs:documentation>
        </xs:annotation>

        <xs:attribute name="alterationRef" type="ct:alterationIdRefType" use="optional">
          <xs:annotation>
            <xs:documentation>Ссылка на уникальный идентификатор корректировки.
              В наборе стадий должна присутствовать базовая запись с id="base"; остальные id — хронологические стадии.
              id строятся по следующему принципу: "alt-ГГГГ-ММ"
              Где ГГГГ это год корректировки, а ММ - месяц корректировки
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>






  <xs:complexType name="representativeType">
    <xs:annotation>
      <xs:documentation>
        <text>Описание комплексного типа TRepresentative.</text>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="xs:string">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="patronymic" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="position" type="xs:string">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="fileType">
    <xs:annotation>
      <xs:documentation>Описание для файлов обоснований
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fileInternalId" type="bt:fileInternalIdType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор файла для ссылок (id)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Название файла (только название с расширением)
Поле должно содержать только имя файла без определения пути к файлу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileId" type="bt:guidIdType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Глобальный уникальный идентификатор
Используется GUID v4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fileCheckSum" type="bt:crc32Type">
        <xs:annotation>
          <xs:documentation>Контрольная сумма файла по алгоритму CRC32-IEEE</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



</xs:schema>
